@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

#root > .ant-layout {
  min-height: 100vh;
}

.ant-layout-footer {
  color: grey;
  font-size: 0.8rem;
  padding-top: 0;
  padding-bottom: 0;
}

.ant-layout-header .logo {
  float: left;
  height: 100%;
  padding: 0 20px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.ant-menu-root.ant-menu-horizontal {
  float: right;
}

.ant-layout-has-sider {
  flex-grow: 1;
}
.ant-table-row.ant-table-row-level-0 {
  cursor: pointer;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}

.ant-menu-root.ant-menu-horizontal {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
}

.ant-page-header.ant-page-header-ghost {
  padding-top: 0;
}

/* SMALL SCREEN TABLES */

.small-screen-table-descriptions {
  padding-top: 8px;
}

.small-screen-table-buttons {
  width: 100%;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 8px;
}

.small-screen-table-button {
  width: 100px;
}

@media screen and (max-width: 480px) {
  .small-screen-table-descriptions th.ant-descriptions-item-label {
    /* width: min-content !important; */
    width: 45% !important;
  }
  .small-screen-table-descriptions td.ant-descriptions-item-content {
    width: stretch !important;
  }
}
