.ant-collapse-content {
  background-color: #188fff2a;
}

.ant-collapse-content-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-collapse-content .ant-card {
  height: 100%;
}
